@import url("common.css");

.setting-header {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray-200);
  margin-bottom: 25px;
}

.setting-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: var(--shadow);
}
